:root {
  --spacing: 10px;
  --blur: 0px;
  --color: #000000;
  --opacity: .5;
}

.wrap {
  margin: 50px;
  display: flex;
  justify-content: center;
}

.inputWrap {
  display: flex;
  align-items: center;
  gap: 10px;
}

.inputWrap input {
  margin-right: 20px;
}

.imgWrap {
  margin: 50px auto;
  width: var(--spacing);
  height: var(--spacing);
  padding: calc(100% / 30);
  background-color: var(--color);

  position: relative;
}

.preview {
  filter: blur(var(--blur));
  width: 100%;
}
