div {
  border: 1px solid black;
  padding: 2px;
}

.container {
  width: 200px;
  margin: 50px auto;
}

.result {
  text-align: right;
}

.btn_wrap {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
}
