*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.wrap{
  width: 1000px;
  height: 700px;
  min-height: 400px;
  min-width: 650px;
  margin: 30px auto;
  padding: 5px;
  background-color: #333;
  overflow: hidden;
  display: flex;
  gap: 5px;
}

.wrap .box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  gap: 350px;
  font-size: 1.5rem;
  background-size: cover;
  background-position: center;
  transition: all 1s cubic-bezier(0.5, -0.5, 0.4, 1.5);
  /* 貝茲曲線模擬 https://www.desmos.com/calculator/zyogzwksuq?lang=zh-TW */
  color: #fff;
  text-shadow: 3px 3px 3px #111;
}

.wrap .box:nth-child(1){
  background-image: url('https://live.staticflickr.com/65535/54686337394_f041474ec3.jpg');
}
.wrap .box:nth-child(3){
  background-image: url('https://live.staticflickr.com/65535/54686360474_f54f34e9e6.jpg');
}
.wrap .box:nth-child(5){
  background-image: url('https://live.staticflickr.com/65535/54686337414_07bafd28fe.jpg');
}

.wrap .open{
  flex-grow: 3;
}


.wrap .open{
  gap: 50px;
  font-size: 2.5rem;
}